body {
  font-family: "SimSun";
  font-size: 20px;
}

.sidebar ul {
  padding: 0px;
}

.sidebar ul li {
  list-style: none;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sidebar ul li a {
  color: #555555;
}
.sidebar ul li:hover {
  background: #f5f5f5;
}

[v-cloak] {
  display: none;
}
